@keyframes ButtonClickFromLeftToRight {
  0% {
    box-shadow: none;
  }
  75% {
    box-shadow: 14px 0 #4dbb2b inset;
  }
  100% {
    box-shadow: none;
  }
}
.ps2-button, .button-no-sides, .button-full, .button-notched-corners, .button-notched-top-left, .button-notched {
  width: auto;
  height: auto;
  min-height: 16px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 2px;
  cursor: pointer;
  background-color: #202020;
  transition: background-color 225ms ease-in;
  border: 1px rgba(185, 190, 190, 0.9) solid;
}
.ps2-button:focus, .button-no-sides:focus, .button-full:focus, .button-notched-corners:focus, .button-notched-top-left:focus, .button-notched:focus, .ps2-button:active, .button-no-sides:active, .button-full:active, .button-notched-corners:active, .button-notched-top-left:active, .button-notched:active, .ps2-button:visited, .button-no-sides:visited, .button-full:visited, .button-notched-corners:visited, .button-notched-top-left:visited, .button-notched:visited, .ps2-button:active {
  outline: none;
}
.ps2-button:hover, .button-no-sides:hover, .button-full:hover, .button-notched-corners:hover, .button-notched-top-left:hover, .button-notched:hover {
  background-color: #103333;
}
.ps2-button:active, .button-no-sides:active, .button-full:active, .button-notched-corners:active, .button-notched-top-left:active, .button-notched:active {
  animation-name: ButtonClickFromLeftToRight;
  animation-duration: 100ms;
}
.ps2-button:focus, .button-no-sides:focus, .button-full:focus, .button-notched-corners:focus, .button-notched-top-left:focus, .button-notched:focus {
  outline: none;
}

.button-notched, .button-notched-top-left {
  background-color: rgba(185, 190, 190, 0.9);
}
.button-notched::after, .button-notched-top-left::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #202020;
  z-index: -1;
  transition: background-color 225ms ease-in;
}
.button-notched:hover::after, .button-notched-top-left:hover::after {
  background-color: #103333;
}
.button-notched:active::after, .button-notched-top-left:active::after {
  animation-name: ButtonClickFromLeftToRight;
  animation-duration: 100ms;
}

.button-notched-top-left {
  padding-left: 18px;
  /* Credits:
    Method: https://css-tricks.com/notched-boxes/
    Clip path: https://bennettfeely.com/clippy/
  */
  clip-path: polygon(14px 0, 100% 0%, 100% 100%, 0% 100%);
}
.button-notched-top-left::after {
  background: linear-gradient(90deg, rgba(32, 32, 32, 0) 0%, #202020 18px, #202020 100%);
  /* Credits:
    Method: https://css-tricks.com/notched-boxes/
    Clip path: https://bennettfeely.com/clippy/
  */
  clip-path: polygon(14px 0, 100% 0%, 100% 100%, 0% 100%);
}

.button-notched-corners {
  /*
    Credit: https://bennettfeely.com/clippy/
  */
  clip-path: polygon(0% 7px, 7px 0, 7px 0%, calc(100% - 7px) 0%, 100% 0, 100% 7px, 100% calc(100% - 7px), calc(100% - 7px) 100%, calc(100% - 7px) 100%, 7px 100%, 0 100%, 0% calc(100% - 7px));
}

.button-full {
  border-radius: 25px;
}

.button-no-sides {
  border-left: none;
  border-right: none;
  padding: 0 18px 0 18px;
  background: radial-gradient(circle, #202020 0%, #202020 calc(100% - 14px), rgba(32, 32, 32, 0) 100%);
}

.button-disabled {
  background-color: #4b0202;
  cursor: not-allowed;
  text-shadow: 0 0 5px #505050 !important;
}

.animation-disabled {
  animation-name: none !important;
}

/*# sourceMappingURL=buttons.css.map */
