    html{
        background-color: #051010;
    }
    .wrapper {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: auto;
        left: 0;
        top: 0;
        position: absolute;
    }
/* WIP | SET UP MEDIA QUERIES FOR DIFFERENT SCREEN SIZES */
    .gameMap {
        width: 50%;
        z-index: 50;
        height: 100%;
        margin: 0 25%;
        left: 0;
        top: 0;
        padding: 0;
        position: fixed;
        background-repeat: no-repeat;
    }
    .gameMap > img {
        height: 900px;
        width: 900px;
        padding: 0;
        margin: 0;
    }
    .gameGrid {
        width: 50%;
        z-index: 50;
        height: 100%;
        margin: 0 25%;
        left: 0;
        top: 5px; /* BUG | NEEDS FIX FOR ALIGNMENT */
        padding: 0;
        position: fixed;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .gameGrid > svg {
        height: 900px;
        width: 900px;
    }
/*HOVER EFFECTS*/
[id^=path]:hover {
    fill: #DA4567 !important;
    cursor: pointer;
}
