@use "../../global/ps2_styles/variables"
@use "../../global/fixins"

.map-switcher
    left: 20% // !FIXME this is weird
    position: absolute
    z-index: 1
    min-width: 250px

.selected
    opacity: 0.9
