@use "../global/ps2_styles/variables"

.zoom-container
    display: table-cell
    vertical-align: middle
    text-align: center
    float: right
    position: absolute
    border: 1px variables.$COLOR-BORDER solid
