@use "../global/ps2_styles/variables"

.switcher
    left: 37%
    position: absolute
    z-index: 1

.continent-item
    text-align: center
    width: 80%

.selected
    opacity: 0.9

details:focus
    outline: none

summary:focus
    outline: none
