@use "../global/ps2_styles/variables"

.switcher
    left: 37%
    position: relative
    zIndex: 1

.continent-item
    text-align: center
    width: 80%

a
    display: flex
    align-items: center

.selected
    opacity: 0.9

// !FIX: background not displaying
.locked
    background-color: green  // placeholder

.locked-vs
    @extend .locked
    background-color: variables.$COLOR-FG-CAPPED-VS

.locked-nc
    @extend .locked
    background-color: variables.$COLOR-FG-CAPPED-NC

.locked-tr
    @extend .locked
    background-color: variables.$COLOR-FG-CAPPED-VS

details:focus
    outline: none

summary:focus
    outline: none
