$border_size: 1px
$base_border_colour: cyan
$border_type: solid

.Hex
    border: $border_size $border_type $base_border_colour

@mixin HasAnimation
    transition-duration: 4s
    transition-property: border
    transition-timing-function: ease-in-out

.HexPriorityLow
    @extend .Hex
    @include HasAnimation
        transition-duration: $base_transition_time

.HexPriorityLowAnimated
    border-size: $border_size * 1.5
    border-color: yellow

.HexPriorityMed
    @extend .Hex
    @include HasAnimation
        transition-duration: $base_transition_time * 0.75

.HexPriorityMedAnimated
    border-size: $border_size * 2
    border-color: #ffae42

.HexPriorityHigh
    @include HasAnimation
        @extend .Hex
        transition-duration: $base_transition_time * 0.5

.HexPriorityHighAnimated
    border-size: $border_size * 2.5
    border-color: orange

.HexPriorityExtreme
    @extend .Hex
    @include HasAnimation
        transition-duration: $base_transition_time * 0.25

.HexPriorityExtremeAnimated
    border-size: $border_size * 3
    border-color: red
