/* Error: expected "{".
 *    ,
 * 29 |   #505050 cursor: default color: #202020 !important text-shadow: 0 0 10px
 *    |                                          ^
 *    '
 *   src\style_source\global\ps2_styles\buttons\buttons.scss 29:42  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 29 \2502    #505050 cursor: default color: #202020 !important text-shadow: 0 0 10px\d\a    \2502                                           ^\a    \2575 \a   src\\style_source\\global\\ps2_styles\\buttons\\buttons.scss 29:42  root stylesheet';
}
