@use "../../global/ps2_styles/variables"
@use "../../global/fixins"

$min_width: 160px

.switcher-container
    position: relative
    display: inline-block
    min-width: 160px

// The container for the menu that will appear on click
.switcher-content-container
    transition: opacity 0.25s ease-out
    opacity: 0
    display: block
    position: absolute
    background-color: #f1f1f1
    min-width: 140px
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
    z-index: 1

.switcher-content-container-revealed
    opacity: 1
    display: block

.switcher-header-btn,  // the button that's clicked to show the options
.switcher-item // Each item within the Switcher
    border: none
    cursor: pointer
    padding: 16px
    display: block
    font-size: 16px
    text-align: center
    width: 80%
    @include fixins.no-focus-outline

.switcher-header-btn
    width: 100%
    padding: 16px
    height: 100%
    margin: 0
