$notchSize: 4px;

@mixin border-button {
  border: 1px rgba(185, 190, 190, 0.9) solid;
}

@mixin HasNotch {
  $takeOff: calc(100% - #{$notchSize});
  clip-path: polygon(
    0% $notchSize,
    $notchSize 0%,
    $takeOff 0%,
    100% $notchSize
  );
}

.buttonDiv-notched-topLeft {
  width: auto;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;

  background-color: #202020;
  padding: $notchSize;
  @include border-button;
  @include HasNotch;

  &::hover {
    background-color: #303030;
  }
}

.button-active {
  background-color: #505050;
  cursor: default;
  color: #202020 !important;
  text-shadow: 0 0 10px #505050 !important;

  &::hover {
    background-color: #505050;
  }
}

.button-disabled {
  background-color: #303030;
  cursor: default;
  color: #101010 !important;
  text-shadow: 0 0 5px #505050 !important;

  &::hover {
    background-color: #303030;
  }
}
